fastapi
uvicorn[standard]
sqlalchemy
pydantic
typing-extensions
python-dotenv
email-validator
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary
# pyodbc  # Comentado porque requiere herramientas de compilación y no es necesario para SQLite
