fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pydantic==2.9.2

# Para conectarte a SQL Server más adelante, cuando tu compañero la tenga lista,
# descomenta esta línea e instala el driver ODBC de SQL Server en tu sistema:
# pyodbc==5.1.0
python-jose[cryptography]
