# Configuración de Supabase - PostgreSQL
DATABASE_URL=postgresql://USUARIO:PASSWORD@HOST:5432/postgres

# Configuración del Servidor
PORT=3000

# Seguridad
SECRET_KEY=clave_secreta_ganadera_cambiar_en_produccion